.selectopus-root {
    min-height: 34px;
    height: auto;
    overflow: hidden;
}
.selectopus-items {
    margin: -4px;
}
.selectopus-item {
    float: left;
    margin: 1px;
    padding: 2px 0;
    border: transparent;
    user-select: none;
    white-space: nowrap;
}
.selectopus-multiple .selectopus-item {
    background: #eee;
    padding: 2px 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
.selectopus-multiple .selectopus-item:after {
    margin-left: 2px;
    content: "\d7";
    opacity: .4;
}
.selectopus-popup {
    position: absolute;
    z-index: 100;
    display: none;
    padding: 3px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.selectopus-popup-input {
    margin-bottom: 6px;
}
.selectopus-popup-items {
    list-style-type: none;
    user-select: none;
    padding: 0;
    margin: -3px;
    overflow-y: auto;
    max-height: 160px;
}
.selectopus-popup-item {
    cursor: pointer;
    padding: 2px 5px;
}
.selectopus-popup-item.selectopus-popup-item-selected {
    background: #def;
}
.selectopus-popup-item:hover {
    background: #eee;
}
.selectopus-popup-item.selectopus-popup-item-selected:hover {
    background: #cde;
}
.selectopus-popup-hint {
    display: none;
    color: #aaa;
    padding: 2px 5px;
    margin: -3px;
}